<!DOCTYPE HTML>
<html>
<head>
<title>用户登录</title>
<!-- Custom Theme files -->
<link href="/static/css/style.css" rel="stylesheet" type="text/css" media="all"/>
<!-- Custom Theme files -->
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Login form web template, Sign up Web Templates, Flat Web Templates, Login signup Responsive web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<!--Google Fonts-->

<!--Google Fonts-->
<script type="text/javascript" src="/static/js/app.js"></script>
</head>
<body>
<!--header start here-->
	<div class="login">
		 <div class="login-main">
		 		<div class="login-top">
		 			<img src="/static/img/head-img.png" alt=""/>
		 			<h1>用户登录</h1>
		 			<input type="text" placeholder="Email" required="" name="email">
		 			<input type="password" placeholder="密码" required="" name="password">
		 			<div class="login-bottom">
		 			  <div class="login-check">
			 			<label class="checkbox">
							<input type="checkbox" name="checkbox"  checked="" />
							<i> </i> 记 住 我
						</label>
			 		  </div>
			 			<div class="clear"> </div>
		 			</div>
		 			<input type="submit" value="登录" />
		 		</div>
		 	</div>
  </div>
<!--header end here-->
<div style="text-align:center;">
</div>
</body>
</html>
